importFrom("car", "Anova")
importFrom("utils", "citation", "sessionInfo", "toLatex", "toBibtex")
importFrom("gmodels", "ci")
importFrom("graphics", "abline", "barplot", "boxplot", "plot")
importFrom("stats", "as.formula", "coef", "coefficients", "complete.cases",
           "fivenum", "lm", "qnorm", "qt", "sd", "symnum", "vcov")
import(xtable)

export(as.ldf,
       is.ldf,
       convert.labels,
       get_option,
       labels.data.frame,
       latex.table.cont,
       latex.table.fac,
       plot.ldf,
       prettify,
       prettifyPValue,
       summarize, summarise,
       summarize_numeric, summarize_factor,
       toLatex,
       toLatex.character,
       "labels<-")

S3method(Anova, lme)
S3method(confint, lme)
S3method(confint, mer)
S3method(as.ldf, data.frame)
S3method(labels, lv)
S3method(labels, data.frame)
S3method(plot, ldf)
S3method(prettify, summary.lm)
S3method(prettify, summary.glm)
S3method(prettify, summary.coxph)
S3method(prettify, summary.coxph.penal)
S3method(prettify, summary.lme)
S3method(prettify, summary.mer)
S3method(prettify, summary.merMod)
S3method(prettify, anova)
S3method(prettify, data.frame)
S3method(mySapply, default)
S3method(mySapply, data.frame)
S3method(xtable, summary)
S3method(print, LatexBibtex)
S3method(print, summary)
S3method(print, xtable.summary)
S3method(toLatex, default)
S3method(toLatex, character)
S3method(toLatex, sessionInfo)
S3method(toLatex, LatexBibtex)
S3method(toBibtex, LatexBibtex)
