importFrom(car, Anova)
# importFrom(lme4, summary)

export(get_options,
       labels.data.frame,
       latex.table.cont,
       latex.table.fac,
       print.table.cont,
       print.table.fac,
       prettify,
       summary.fixef,
       toLatex.default,
       "labels<-",
       get_options)

S3method(Anova, lme)
S3method(labels, data.frame)
S3method(prettify, summary.lm)
S3method(prettify, data.frame)
S3method(summary.fixef, mer)
S3method(summary.fixef, lme)
S3method(mySapply, default)
S3method(mySapply, data.frame)
S3method(print, table.cont)
S3method(print, table.fac)
S3method(print, table.list)
S3method(toLatex, default)
