importFrom(car, Anova)
importFrom(utils, toLatex)
importFrom(utils, toBibtex)

export(as.labeled.data.frame,
       is.labeled.data.frame,
       as.labelled.data.frame,
       is.labelled.data.frame,
       get_options,
       labels.data.frame,
       latex.table.cont,
       latex.table.fac,
       print.table.cont,
       print.table.fac,
       prettify,
       prettifyPValue,
       toLatex.character,
       "labels<-",
       get_options)

S3method(Anova, lme)
S3method(confint, lme)
S3method(confint, mer)
S3method(as.labeled.data.frame, data.frame)
S3method(labels, default)
S3method(labels, data.frame)
S3method("[", labeled.data.frame)
S3method(subset, labeled.data.frame)
S3method(cbind, labeled.data.frame)
S3method(rbind, labeled.data.frame)
S3method(prettify, summary.lm)
S3method(prettify, summary.glm)
S3method(prettify, summary.coxph)
S3method(prettify, summary.lme)
S3method(prettify, summary.mer)
S3method(prettify, summary.merMod)
S3method(prettify, anova)
S3method(prettify, data.frame)
S3method(mySapply, default)
S3method(mySapply, data.frame)
S3method(print, table.cont)
S3method(print, table.fac)
S3method(print, table.list)
S3method(toLatex, character)
S3method(toLatex, sessionInfo)
S3method(toLatex, LatexBibtex)
S3method(toBibtex, LatexBibtex)
